

menu "Architecture"

choice
        prompt "Select target board"
        default ARCH_TAURUS

config ARCH_TAURUS
        bool "Taurus risc-v system"
        help
          Target the Taurus rv32i system made in roblox

config ARCH_MCXA153
        bool "NXP MCXA153 ARM Cortex-M MCU"
        help
          Target the MCXA153 FRDM development board
endchoice

endmenu

menu "Init"

choice
        prompt "Select rootfs"

config ROOTFS_FATFS
        bool "FATFS"
        depends on FS_FATFS

config ROOTFS_ROMFS
        bool "ROMFS"
        depends on FS_ROMFS

endchoice

config ROOTFS_TYPE
        string
        default "fatfs" if ROOTFS_FATFS
        default "romfs" if ROOTFS_ROMFS
        default "none"

config ROOTFS_DEVNO
        int "rootfs device number"
        help
          This is the device number that identifies the device that the rootfs is mounted on.

config DEVFS_MOUNTPOINT
        string "DEVFS mountpoint"
        default "/dev"

config INIT_PATH
        string "Init binary path"
        default "/bin/sh"

config INIT_CONSOLE_DEVNO
        int "boot console device number"
        help
          This is the device number that identifies the output device for the boot console.

endmenu

menu "File systems"

config FS_FATFS
        bool "FATFS Filesystem"
        help
          Select the FATFS file system wich implements a fat8 style filesystem.
config FS_ROMFS
        bool "ROMFS Filesystem"
        help
          Select the ROMFS filesystem which is a read only filesystem built into the kernel image, usefull for creating filesystems in flash.

endmenu


menu "Drivers"

config CM2_TTY_DRIVER
        bool "Generic TTY driver"
        depends on ARCH_TAURUS

config CM2_TILING_GPU
        bool "Tiling GPU driver"
        depends on ARCH_TAURUS

config CM2_BLOCK_DEV
        bool "Generic disk driver"
        depends on ARCH_TAURUS


endmenu

