
config FS_FATFS
        bool "FATFS Filesystem"
        help
          Select the FATFS file system wich implements a fat8 style filesystem.
config FS_ROMFS
        bool "ROMFS Filesystem"
        help
          Select the ROMFS filesystem which is a read only filesystem built into the kernel image, usefull for creating filesystems in flash.



