
choice
        prompt "Select target board"
        default ARCH_TAURUS

config ARCH_TAURUS
        bool "Taurus risc-v system"
        help
          Target the Taurus rv32i system made in roblox

config ARCH_MCXA153
        bool "NXP MCXA153 ARM Cortex-M MCU"
        help
          Target the MCXA153 FRDM development board

endchoice

config ARCH_TYPE
        string
        default "TAURUS" if ARCH_TAURUS
        default "ARMv8-M" if ARCH_MCXA153
        default "none"

config LTO
        bool "LTO(Link Time Optimization)"
        help
          Compile with LTO, Currently still experimental on ARM
config DEBUG
        bool "Build with debugging"
        depends on !ARCH_TAURUS
        help
          Build the kernel with debugging symbols and launch a gdb server. Not suported on Taurus
